{% if collections.size > 0 %}
  <h2 class="book-genre-title">Genres</h2>
  <div class="book-genres">
    {% for collection in collections %}
        {% if collection.title == 'All' %}
          <a href="{{ shop.url}}">{{ collection.title }}</a>
        {% else %}
          <a href="{{ collection.url}}">{{ collection.title }}</a>
        {% endif %}
    {% endfor %}
  </div>
{% else %}
  <p>No genres (collections) exist!</p>
{% endif %}