/* default tags */
body {
  background-color: #f2f5f7;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}
footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background: linear-gradient(#f2f5f7, #e4e6e9);
  font-size: 1rem;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
}
h2 {
  color: #4a5660;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 17px;
}

/* custom elements */
.separator {
  margin-top: 8px;
  height: 1px;
  background-color: #e6eaed;
}

/* navbar elements */
.navbar {
  background-color: white;
  border: 0;
  border-radius: 0;
}
.search-icon {
  line-height: 36px !important;
  color: #858e97;
}
.form-control {
  border: 0;
  margin: 0;
  padding-left: 0;
  color: #cacdd0;
  font-size: 14px;
  line-height: 26px;
}
.form-control:focus {
  color: inherit;
}

/* carousel */
.left-banner {
  height: 350px;
  width: 620px;
  background: linear-gradient(to right, #d19092 0%, #fbadaf 100%);
  margin-bottom: 90px;
  position: relative;
  display: inline-block;
}
.center-banner {
  height: 350px;
  width: 620px;
  background: linear-gradient(to right, #d090b3 0%, #edb9e6 100%);
  margin-bottom: 90px;
  position: relative;
  display: inline-block;
}
.right-banner {
  height: 350px;
  width: 620px;
  background: linear-gradient(to right, #88cfdd 0%, #7cc0ce 100%);
  margin-bottom: 90px;
  position: relative;
  display: inline-block;
}
#banner-image {
  height: 366px;
  width: 240px;
  float: left;
  top: 42px;
  left: 42px;
  position: relative;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}
.banner-title {
  top: 34px;
  left: 78px;
  width: 255px;
  font-size: 20px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  color: white;
}
.banner-description {
  top: 120px;
  left: 78px;
  height: 100px;
  width: 255px;
  font-size: 16px;
  font-weight: 200;
  position: relative;
  color: white;
  margin: 0;
  overflow: hidden;
  word-break: break-all;
}
.banner-button {
  top: 148px;
  left: 82px;
  position: relative;
  border-radius: 28px;
  font-size: 16px;
  font-weight: bold;
  background: white;
  padding: 10px 62px 10px 62px;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  display: inline-block;
}

/* book genres */
.popular-by-genre {
  margin-top: 80px;
  margin-bottom: 40px;
}
.book-genre-title {
  display: inline-block;
}
.book-genres {
  display: inline-block;
  margin-top: 5px;
}
.book-genres > a {
  color: #3a4753;
  font-weight: 300;
  margin-left: 40px;
}
.book-genres > a:hover {
  color: #000006;
}
.current {
  font-weight: bold !important;
  border-bottom: 2px #56d0e9 solid;
  padding-bottom: 23px;
}

/* book grid */
.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: .25rem
}
.card-block {
  padding: 1.25rem
}
.card-img-top {
  width: 100%;
}
.card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* product page */
.card-img-product {
  width: 33%;
}
.card-block-product {
  width: 66%;
  display: inline-block;
}
.price-product {
  display: inline-block;
}

/* menu */
.menu::after {
  border-top: 0;
  margin-right: -4rem;
}
.menu-dropdown {
  left: -100px;
}

/* footer elements */
.social {
  font-size: 2rem;
}
.social > a {
  padding-left: 5px;
  padding-right: 5px;
}