/* default tags */
body {
  background-color: #f2f5f7;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}

/* navbar */
.navbar {
  height: 78px;
  background-color: white;
  border: 0;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-nav > li > a {
   line-height: 48px;
}
.search-form {
  padding-top: 26px;
}
.search-input {
  border: none;
}

/* book genres */
.popular-by-genre {
  margin-bottom: 80px;
  padding-left: 25px;
  padding-right: 25px;
}
.book-genre-title {
  display: inline-block;
}
.book-genres {
  display: inline-block;
}

/* book grid */
.book-col {
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 86px;
  height: 260px;
}
.book {
  background-color: white;
  border: 1px solid #eaedef;
  border-radius: 6px;
  margin-bottom: 86px;
  height: 260px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.book-image {
  width: 140px;
  top: -36px;
  left: 20px;
  position: relative;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
}
.book-info {
  position: absolute;
  top: 32px;
  left: 214px;
  width: calc(100% - 50px - 214px);
}
.book-cover {
  height: 226px;
  width: 140px;
}
.book-title {
  margin-bottom: 4px;
}
.book-title > a {
  color: #3a4753;
  font-size: 16px;
  font-weight: 400;
}
.book-price {
  margin-bottom: 46px;
  color: #929292;
  font-size: 12px;
  font-weight: 300;
}
.book-description {
  height: 60px;
  overflow: hidden;
  color: #9ca9b4;
  font-weight: 300;
}
