<div class="slider">
  Slider here
</div>

<div class="container-fluid">
  {% assign collection = collections.frontpage %}
  <div class="books">
    {% for product in collection.products | limit:8 %}
      {% include 'product-loop' %}
    {% endfor %}
  </div>
</div>