{% assign page = pages.frontpage %}
<div class="home-page">
  <h2>{{ page.title }}</h2>
  {{ page.content }}
</div>

{% assign collection = collections.frontpage %}
<div class="home-collections">
  <h2>{{ collection.title }}</h2>
    {% for product in collection.products | limit:8 %}
      {% include 'product-loop' %}
    {% endfor %}
</div>